@charset "UTF-8";

@font-face {
    font-family: 'Nunito';
    src: url(../fontes/Nunito/Nunito-VariableFont_wght.ttf) format(truetype), url(../fontes/Nunito/Nunito-Italic-VariableFont_wght.ttf) format(truetype);
    font-weight: normal;
}
/*
#79ACD9 azul
#739FCE azul pouco mais escuro
#238C3D verde escuro
#96D932 verde claro
#F2A03D laranja
*/
*{
    padding: 0px;
    margin: 0px;
}
html, body{
    font-family: 'Nunito', sans-serif;
    padding: 0px;
    margin: 0px;
}

.side-bar{
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: .5s;
    padding-top: 60px;
}
.side-bar a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    margin: 20px 0px;
    transition: .3s;
}
.side-bar a:hover{
    color: #f1f1f1;
}
.side-bar .close-btn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 32px;
    margin-left: 50px;
}
.menu-btn{
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    background-color: #111;
    color: #818181;
}
.menu-btn:hover{
    color: #f1f1f1;
}
.material-symbols-outlined{
    position: relative;
    top: 5px;
}
.back-button{
    position: absolute;
    color: #818181;
    padding-bottom: 4px;
    top: 10px;
    left: 10px;
    font-size: 20px;
    height: 40px;
    width: 40px;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s;
}
.back-button:hover{
    color: #f1f1f1;
    background-color: #818181;
}
.fechar-button{
    position: absolute;
    color: #818181;
    padding-bottom: 4px;
    top: 10px;
    left: 90px;
    font-size: 20px;
    height: 40px;
    width: 40px;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s;
}
.fechar-button:hover{
    color: #f1f1f1;
    background-color: #818181;
}
.sublista-media{
    display: none;
    background-color: #79ACD9;
}
.options{
    overflow: hidden;
    opacity: 0;
    display: none;
}

#texto{
    color: white;
    background-color: #00000080;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#texto h1{
    font-size: 3em;
    margin: 39.84px;
}

#texto h2{
    font-style: italic;
    font-family: serif;
}

#logo{
    position: relative;
}

#logo img{
    display: block;
    width: auto;
    width: 100%;
}

main h1{
    text-align: center;
    font-size: 2em;
    margin: 39.84px;
}

main p{
    text-indent: 20px;
    text-align: justify;
    line-height: 1.5em;
    padding: 10px;
    font-size: 26px;
}

#imagens_pag01{
    text-align: center;
}

footer{
    background-color: #79ACD9;
}

footer p{
    padding: 10px;
    margin: 0px;
    margin-top: 10px;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}

a{
    text-decoration: underline;
    color: inherit;
}

.adendo{
    color: gray;
    font-style: italic;
}

img{
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

h2{
    text-align: center;
    margin: 20px 0px 20px 0px;
}

.img_cont{
    display: block;
    margin: auto;
    box-shadow: 1px 1px 4px #00000080;
    border-radius: 3px;
}

main h2{
    font-size: 1.6em;
    background-color: #96d932;
    padding: 10px 0px 10px 0px;
}

main h3{
    text-align: center;
    font-size: 1.4em;
    background-color: #79ACD9;
    padding: 10px 0px 10px 0px;
    margin: 20px 0px 20px 0px;
}

main h4{
    font-size: 1.4em;
}
.form{
    margin: auto;
    border-radius: 20px;
    padding: 20px;
    width: 70vw;
    text-align: center;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.482);
    background-color: #79acd9;
}
#nome,
#email,
#mensagem{
    background-color: white;
    width: 70%;
    color: inherit;
    border: none;
    padding: 5px;
}
#enviar{
    border: 1px solid #fff;
    background-color: inherit;
    width: 70%;
    padding: 5px 10px;
    cursor: pointer;
}
#enviar:hover{
    background-color: #fff;
}
.news img{
    display: block;
    text-align: center;
    margin-top: 15px;
    width: 90%;
    height: auto;
}
.news h2{
    position: relative;
    background-color: inherit;
    margin: 0 15px;
}
#imagens_pag01 img{
    width: 100%;
    max-height: 710px;
    max-width: 710px;
    background-size: cover;
}
.back_img{
    height: 710px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.back_img h2{
    color: #ffffffdd;
    font-size: 40px;
    display: flex;
    background-color: #00000080;
    width: 100%;
    height: 690px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#fectec{
    background-image: url(../imagens/eventos/fectec1.jpg);
    background-position: center top;
}
#oficina{
    background-image: url(../imagens/eventos/oficina_dos_sonhos1.jpg);
    background-position: 70% center;
}
#interclasse{
    background-image: url(../imagens/eventos/interclasse2.jpg);
    background-position: center 35%;
}
#alunos_que_inspiram{
    background-image: url(../imagens/eventos/alunos_que_inspiram1.jpg);
    background-position: center 40%;
}
#projeto_agua{
    background-image: url(../imagens/eventos/projeto_agua1.jpg);
}
#projeto_social{
    background-image: url(../imagens/eventos/projeto_social1.jpg);
}
#trote{
    background-image: url(../imagens/eventos/trote1.jpg);
}
#desfile{
    background-image: url(../imagens/eventos/desfile2.jpg);
    background-position: center top;
}
#feira{
    background-image: url(../imagens/eventos/feira3.jpg);
    background-position: center 30%;
}
#halloween{
    background-image: url(../imagens/eventos/halloween2.jpg);
    background-position: center 40%;
}
#feira_do_empreendedorismo{
    background-image: url(../imagens/eventos/feira_do_empreendedorismo2.jpg);
    background-position: center 40%;
}
#afrobrasis{
    background-image: url(../imagens/eventos/afrobrasis1.jpg);
}